/* Type */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

body
{
    font-family: "PT Sans", sans-serif;
    line-height: 1.5em;
    color: #222;
}

h1, h2, h3, h4, h5, h6
{
    margin: 1.5rem 0;
}

p
{
    margin: 1.5rem 0;
}

h1
{
    font-size: 2em;
    line-height: 2.5rem;
}

a
{
    color: #FF6600;
    text-decoration: none;
}

a:hover
{
    color: #FFA319;
}

blockquote
{
    color: #555;
    font-style: italic;
}

table
{
    border-collapse: collapse;
}

table th
{
    font-weight: bold;
}

table th,
table td
{
    padding: 0.25em 0.5em;
}

table thead
{
    background-color: #efefef;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even)
{
    background-color: #efefef;
}

/* Main layout */

#wikid-content
{
    max-width: 62rem;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#wikid-body
{
    margin-left: 18rem;
}

#wikid-sidebar
{
    top: 0;
    left: 0;
    position: absolute;
    width: 16rem;
}

#wikid-sidebar .inner
{
    max-width: 62em;
    margin: 0 auto;
    position: relative;
}

/* Table of contents */

#wikid-toc
{
    margin-top: 1rem;
}

#wikid-toc li
{
    line-height: 1em;
}

#wikid-toc a
{
    text-decoration: none;
    color: #666;
}

#wikid-toc a:hover
{
    color: #FF6600;
}

#wikid-toc > ul > li > a
{
    font-weight: 500;
}

#wikid-toc ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#wikid-toc ul ul
{
    margin-left: 2em;
}

#wikid-toc ul ul li
{
    margin: 0.5rem 0;
}

#wikid-toc > ul > li
{
    margin: 0.5rem 0;
}

#wikid-toc > ul > li > a
{
    font-weight: bold;
}

#wikid-toc > ul > li .disclosure
{
    display: inline-block;
    border: 1px solid #efefef;
    font-size: 0.8rem;
    line-height: 0.7rem;
    width: 0.8rem;
    height: 0.8rem;
    text-align: center;
    vertical-align: baseline;
    margin-right: 0.5rem;
    font-family: sans-serif;
}

#wikid-toc > ul > li .disclosure.hidden
{
    border-color: rgba(0,0,0,0);
}

#wikid-toc > ul > li > ul
{
    display: none;
}

#wikid-toc > ul > li.open > ul
{
    display: block;
}

/* Search */

#wikid-search
{
    display: block;
    position: relative;
    line-height: 2.5em;
}

#wikid-search input
{
    display: inline-block;
    vertical-align: middle;
    width: 15rem;
    padding: 0.25em;
}

#wikid-search .cancel
{
    display: none;
    position: absolute;
    font-size: 0.75em;
    font-weight: bold;
    top: .25em;
    right: .5em;
    color: darkgray;

}

#wikid-search .results
{
    display: none;
    position: absolute;
    width: 15.5em;
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

#wikid-search .results ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#wikid-search .results ul li a
{
    display: block;
    padding: 0.25rem 0.5em;
    font-size: 0.8em;
    border-bottom: 1px solid #ddd;
    line-height: 1.5em;
}

#wikid-search .results ul li:last-child a
{
    border: none;
}

#wikid-search .results ul li a span.title,
#wikid-search .results ul li a span.context
{
    display: block;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#wikid-search .results ul li a span.title
{
    font-size: 1.2em;
    color: #333;
}

#wikid-search .results ul li a span.context
{
    color: #666;
}

#wikid-search .results ul li a span.match
{
    font-weight: 600;
    color: #1286D9;
}

#wikid-search .results ul li.selected
{
    background-color: #efefef;
}

/* Hilited code sections & pygments theme */

.codehilite, .codehilitetable
{
    background-color: #f5f5f5;
    margin: 1.5em 0;
}

.codehilite
{
    padding: 0.5em;
    font-family: Monaco, "Courier New", monospace;
}

.codehilitetable .codehilite
{
    padding: 0;
    margin: 0;
}

.codehilite pre,
.codehilitetable pre
{
    margin: 0;
}

.codehilitetable
{
    table-layout: fixed;
    border-collapse: collapse;
}

.codehilitetable .linenos
{
    background-color: #ddd;
    color: #666;
    padding: 0 0.5em;
}

.codehilitetable .code
{
    padding: 0 0.5em;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #888888 } /* Comment */
.codehilite .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.codehilite .k { color: #008800; font-weight: bold } /* Keyword */
.codehilite .o { color: #333333 } /* Operator */
.codehilite .cm { color: #888888 } /* Comment.Multiline */
.codehilite .cp { color: #557799 } /* Comment.Preproc */
.codehilite .c1 { color: #888888 } /* Comment.Single */
.codehilite .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.codehilite .s { background-color: #fff0f0 } /* Literal.String */
.codehilite .na { color: #0000CC } /* Name.Attribute */
.codehilite .nb { color: #007020 } /* Name.Builtin */
.codehilite .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.codehilite .no { color: #003366; font-weight: bold } /* Name.Constant */
.codehilite .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #880000; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.codehilite .nl { color: #997700; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #007700 } /* Name.Tag */
.codehilite .nv { color: #996633 } /* Name.Variable */
.codehilite .ow { color: #000000; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.codehilite .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.codehilite .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.codehilite .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.codehilite .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.codehilite .sc { color: #0044DD } /* Literal.String.Char */
.codehilite .sd { color: #DD4422 } /* Literal.String.Doc */
.codehilite .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.codehilite .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.codehilite .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.codehilite .si { background-color: #eeeeee } /* Literal.String.Interpol */
.codehilite .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.codehilite .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.codehilite .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.codehilite .ss { color: #AA6600 } /* Literal.String.Symbol */
.codehilite .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #336699 } /* Name.Variable.Class */
.codehilite .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.codehilite .vi { color: #3333BB } /* Name.Variable.Instance */
.codehilite .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
